# Archivos de Maven y Java
target/
*.jar
*.war
*.class
*.log

# Archivos de configuración local
*.env
*.properties

# Archivos y carpetas de IDE
.idea/
.vscode/
*.iml

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos Docker
docker-compose.yml
Dockerfile
